<div class="p-4 bg-white rounded-lg h-[calc(100vh-150px)] overflow-y-auto border-gray-200 shadow">
   <h3 class="mb-4 text-xl font-medium">Field Properties</h3>
    @if (formService.selectedFieldId(); as selectedFieldId) {
        
        <div class="flex flex-col gap-6">
            @for(setting of fieldSettings(); track setting.key) {
                @switch(setting.type) {
                    @case('text') {
                        <mat-form-field class="w-full">
                            <mat-label>{{setting.label}}</mat-label>
                            <input matInput [(ngModel)]="fieldValues()[setting.key]"
                            (ngModelChange)="updatedField(selectedFieldId.id,setting.key, $event)" />
                        </mat-form-field>
                    }
                    @case ('checkbox') {
                        <div class="flex items-center">
                            <mat-checkbox [(ngModel)]="fieldValues()[setting.key]"
                            (ngModelChange)="updatedField(selectedFieldId.id, setting.key, $event)">
                                {{setting.label}}
                            </mat-checkbox>
                        </div>
                    }
                    @case ('select') {
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>{{setting.label}}</mat-label>
                            <mat-select [(ngModel)]="fieldValues()[setting.key]" 
                            (ngModelChange)="updatedField(selectedFieldId.id, setting.key, $event)">
                                @for(option of setting.options || []; track option.value) {
                                    <mat-option [value]="option.value">{{option.label}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                     @case ('dynamic-options') {
                        <app-dynamic-options [title]="setting.label" [options]="fieldValues()[setting.key]" (optionsChange)="updatedField(selectedFieldId.id, setting.key, $event)"></app-dynamic-options>
                    }
                    @default {
                        <p class="text-red-500">Unsupported setting type: {{setting.type}}</p>
                    }
                }
            }
        </div>
    }
     <!-- @else {
        <p class="text-gray-500">Select a field to see its settings.</p>
    } -->
</div>
