<div class="p-4">
    @for(row of formService.rows(); track row.id) {
         <div cdkDropList (cdkDropListDropped)="onDropInRow($event, row.id)"
         [cdkDropListOrientation]="'mixed'"
              class="p-5 pt-2 bg-white rounded-lg border-2 border-dashed border-gray-200 mb-4">
        <div class="flex justify-between items-center">
            <span>Row</span>
            <button class="cursor-pointer" mat-icon-button (click)="formService.deleteRow(row.id)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="flex flex-wrap gap-4">
               @for(field of row.fields; track field.id) {
           <app-form-field class="flex-1" [field]="field"></app-form-field>

      }@empty {
            <div class="text-gray-500 text-sm">Drag and Drop form elements</div>
        }
        </div>
   
    </div>
    }   
   
</div>
