<div class="p-3">
    @if (authService.isAdmin()) {
      <button  mat-flat-button (click)="navigateTo()">Go To Form Editor</button>
    }
</div>
<div class="flex h-[calc(100vh-64px)]">

  <div class="w-1/3 p-8 border-r border-gray-200 overflow-y-auto">
    <h2 class="text-2xl font-bold mb-6">Form Templates</h2>
    
    <div class="flex flex-col gap-3">
        @if (savedForms().length === 0) {
        <div class="flex flex-col items-center justify-center h-64 text-gray-400">
          <mat-icon class="text-5xl">visibility</mat-icon>
          <p class="mt-4">No saved forms found. Create a form in the editor.</p>
        </div>
      }@else {
      @for (form of savedForms(); track form.id) {
        <div 
          (click)="previewForm(form)"
          class="flex justify-between items-center p-4 border rounded-lg cursor-pointer transition-all"
          [class.bg-indigo-50]="selectedForm()?.id === form.id"
          [class.border-indigo-500]="selectedForm()?.id === form.id"
          [class.shadow]="selectedForm()?.id === form.id">
          <span class="font-medium">{{ form.name }}</span>
          @if (authService.isAdmin()) {
           <button mat-stroked-button (click)="editForm(form.id); $event.stopPropagation()">Edit</button>
          }
          
        </div>
      }
    }
    </div>
  </div>

  <div class="w-2/3 p-8 overflow-y-auto bg-gray-50">
    <div class="bg-white p-8 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-6">Form Preview</h2>

      @if (selectedForm(); as form) {
        <div class="py-6">
    <div class="p-6 flex flex-col gap-4 shadow-md rounded-lg border border-gray-200">
     @for(row of form.rows; track row.id) {
       
            <div class="flex flex-wrap gap-4">
               @for(field of row.fields; track field.id) {
                  <app-field-preview class="flex-1" [field]="field"></app-field-preview>
               }
            </div>
     }
    </div>
</div>
      } @else {
        <div class="flex flex-col items-center justify-center h-64 text-gray-400">
          <mat-icon class="text-5xl">visibility</mat-icon>
          <p class="mt-4">Select a form from the left to see its preview.</p>
        </div>
      }
    </div>
  </div>

</div>

