<div class="py-6">
    <div class="p-6 flex flex-col gap-4 shadow-md rounded-lg border border-gray-200">
     @for(row of formService.rows(); track row.id) {
         <div class="p-4 bg-white rounded-lg border-2 border-dashed border-gray-200">
            <!-- <h3 class="mb-2">Row {{row.id}}</h3> -->
            <div class="flex flex-wrap gap-4">
               @for(field of row.fields; track field.id) {
                  <app-field-preview class="flex-1" [field]="field"></app-field-preview>
               }
            </div>
         </div>
     }
    </div>
</div>
