<div class="bg-white p-4 pt-1 rounded-lg shadow-sm border border-gray-200 hover:border-black cursor-pointer"
[class]="formService.selectedFieldId()?.id === field().id ? '!border-black' : ''"
(click)="formService.setSelectedField(field().id)">
   <div class="flex items-center justify-between mb-1">
    <span class="text-sm">{{field().type | titlecase}}</span>
    <button mat-icon-button (click)="deleteField($event)"> 
        <mat-icon class="-mr-2">delete</mat-icon>
    </button>
   </div>
    <app-field-preview [field]="field()"></app-field-preview>
</div>
